.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  border-radius: 20px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
}
