.modal__content_type_image {
  padding: 0;
  border: none;
  max-width: 498px;
  overflow: hidden;
}

.modal__image {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__footer {
  background-color: #fff;
  padding: 20px 32px;
  border-radius: 0 0 20px 20px;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal__content_type_image .modal__close-icon {
  background-color: transparent;
}
