@import url(./vendor/normalize.css);

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/CabinetGrotesk-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./vendor/fonts/CabinetGrotesk-Regular.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}
